<!DOCTYPE html>
<html lang="en">
<head>
<title>Browse All Cars</title>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<style>
a.carLink {
	color:#31ac9e;
}
</style>

</head>

<body style="background-color:#fbfaed;">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color:#3eb9ae;">
	<div class="container" style="width:50%;">
		<div class="navbar-header">
			<a class="navbar-brand" style="color:white;" href="#">Fuelly MPG View</a>
		</div>
	</div>
</div>


<div class="container" ng-app=""  ng-controller="carsController" style="margin-top:100px; width:50%;">
	<div class="row">
		<div class="col-md-8" style="align:center;">
				<select ng-model="make" ng-change="filterChanged()" ng-options="x.Value as x.Display for x in filters.Makes">
					<option value="">Any Make</option>
				</select>
			
				<select ng-model="year" ng-change="filterChanged()" ng-options="x as x for x in filters.Years">
					<option value="">Any Year</option>
				</select>
				
				<button class="btn" style="background-color:#3eb9ae; color:white;" ng-click="resetData()">Reset Filters</button>
		</div>
	</div>

	<div class="row">
		<div class="col-md-5">
			<h3>Best Mileage</h3>
			<ol>
			  <li ng-repeat="x in topCars">
			    <a href="{{ x.Url }}" class="carLink" target="_blank">{{ x.Display }}</a>
			  </li>
			</ol>
		</div>
		
		<div class="col-md-5">
			<h3>Worst Mileage</h3>
			<ol>
			  <li ng-repeat="x in bottomCars">
			    <a href="{{ x.Url }}" class="carLink" target="_blank">{{ x.Display }}</a>
			  </li>
			</ol>
		</div>
	</div>
</div>

<script>
function carsController($scope,$http) {
	$http.get("cars.json?mpg=top")
	.success(function(response) {$scope.topCars = response;});
	
	$http.get("cars.json?mpg=bottom")
	.success(function(response) {$scope.bottomCars = response;});
	
	$http.get("filters.json")
		.success(function(response) {$scope.filters = response;});
	
	$scope.filterChanged = function() {
		$http.get("cars.json?mgp=top&make="+$scope.make+"&year="+$scope.year)
		.success(function(response) {$scope.topCars = response;});
		
		$http.get("cars.json?mpg=bottom&make="+$scope.make+"&year="+$scope.year)
		.success(function(response) {$scope.bottomCars = response;});
		
		$http.get("filters.json?year="+$scope.year+"&make="+$scope.make)
		.success(function(response) {$scope.filters = response;});
	
	}
	
	$scope.resetData = function() { 
		$scope.make=""; 
		$scope.year="";
		$scope.filterChanged(); 
	}
}

</script>


<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>

</body>
</html>
